<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') %>
  </head>
<body>
  <header>
    <%- include('header') %>
    <h2><a href="/">/post</a>/<%- slug %></h2>
    <h3><%- title %></h3>
    <hr>
  </header>
  <main>
    <%- content %>
  </main>
</body>
</html>
